*{
    margin: 0;
    padding: 0;
}
.title{
    height: 60px;
    width:22%;
    /*background-color: yellow;*/
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: bold;
    color: red;
    line-height: 60px;
    padding-right: 60px;
}
.navbar_2{
    display: flex;
    
}  
/* .navbar_2:hover{
    background-color: white;
    color: rgb(76, 114, 241);
} */

.nav-list_2{
  width: 70%;
  display: flex;
  align-items: center;
  
}
.nav-list_2 li{
    list-style: none;
    padding: 15px;
    cursor: pointer;
    transition: .4s;
}
.nav-list_2 li a{
    text-decoration: none;
    color: white;
}
.nav-list_2 li a:hover{
    text-decoration: none; 
    color: rgb(7, 94, 207);
    background-color: white;
    height: 80px;
}
.rightNav{
  
    width: 30%;
    text-align: right;
    align-items: center;
    padding-right: 30px;
    justify-content: space-between;
    border: white;
    line-height: 100px;
    cursor: pointer;
    transition: .4s;
    /* color: rgb(7, 94, 207);
    background-color: white; */

} 
.fa-search{
    padding: 10px;
    color: white;
    border:2px solid white;
    border-radius: 5px;
    align-items: flex-start;
}
.fa-bars{
    padding: 10px;
    color: white;
    border:2px solid white;
    border-radius: 5px;
}
.buy_now{

    padding: 10px;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border:2px solid ;
    border-radius: 5px;
    background-color: rgb(207, 22, 167);
    cursor: pointer;
    transition: .4s;
}
.btn{
    padding-right: 35px;
}
.background{
    height: 80px;
    background: rgba(0, 0, 0, 0.8) url('images/background.jpg') ;
    background: cover;
    background-blend-mode: darken;
    
}
.welcome-text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('images/background.jpg');
    background: cover;
    height: 400px;
    padding: 100px;
    color: rgba(255, 255, 255, 1);
    transition: .5s;
   
    
}
.navbar_1{
    display: flex;
    background-color: black;
    height: 20px;
    justify-content: right;
}
.rightNav_1{
  
    width: 95%;
    text-align: right;
    justify-content: space-between;
    border: white;


} 
.fa-youtube{
    padding: 5px;
    color: white;
    justify-content: right;
}
.fa-twitter{
    padding: 5px;
    color: white;
    justify-content: right;
}
.fa-instagram{
    padding: 5px;
    color: white;
    justify-content: right;   
}
.fa-facebook{
    padding: 5px;
    color: white;
    justify-content: right;
}
/* .nav-list_1{
    width: 70%;
  display: flex;
  align-items: center;
} */
.events{
    padding-top: 50px;
    padding-left: 45px;
    
    
}
.event-div{
    height: 250px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding-bottom: 30px;
}
.event-head{
    color: rgb(248, 8, 108);
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;

}
.event-para{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    padding-top: 20px;
    
}
.portfolio{
    /*padding-top: 50px;*/
    /*padding-bottom: 50px;*/
    width: 100%;
    display: flex;
    justify-content:center;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
}
.portfolio_container{
    width: 100%;
    flex-wrap: wrap;
    /*margin-top: 30px;*/
    display: flex;
}
.project{
    width: 25%;
    height: 200px;
    background-color: red;
    display: flex;
     
}
.project_1{
    background-image: url('https://images.pexels.com/photos/8345978/pexels-photo-8345978.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-size: cover;
}
.project_2{
    background-image: url('https://images.pexels.com/photos/374074/pexels-photo-374074.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-size: cover;
    align-items: flex-end;
}
.project_3{
    background-image: url('https://images.pexels.com/photos/1708936/pexels-photo-1708936.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-size: cover;
}
.project_4{
    background-image: url('https://images.pexels.com/photos/2774566/pexels-photo-2774566.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-size: cover;
    align-items: flex-end;
}
.project_title{
    color: white;
    width: 100%;
    height: 50px;
    text-indent: 30px;
    line-height: 20px;
    background-color: rgb(206, 88, 180, 0.8);
    cursor: pointer;
    transition: .4s;
}
.project_title:hover{
    height: 70px;


}
.contact{
    height: 400px;
    background-image: url('images/background.jpg');
    padding: 100px;
    
    
}
.contact-space{
    padding-left: 500px;
}
.contact_us{
    text-align: left;
    height: 400px;
    width: 600px;
    background-color:rgba(0, 0, 0, 0.562);
    color: white;
    padding-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.contact-1{
    padding-left: 50px;
}

.details{
    display: flex;
    justify-content: center;
}
.BOOKING{
    padding-right: 50px;
    padding-top: 50px;
}
.SPEAKER{
    padding-left: 45px;
    padding-top: 50px;
}
.EMAIL{
    padding-left: 50px;
    padding-top: 50px;
}
.line-1{
    fill: white;
    border-width: medium;
    border-style: inset;
}
.fa-envelope{
    height: 20px;
    width: 20px;
    padding-right: 30px;
    border: white;
}
/* .one-line{
    display: flex;
} */
.msg{
    padding-top: 20px;
    padding-left: 50px;
}
.in{
    padding-left: 50px;
    padding-top: 20px;
}

.msg-input{
    
    height: 20px;
    width: 90%;
}
.name-inp{
    padding-left: 50px; 
    padding-top: 20px;
}
.name-input{
    padding-left: 50px;
}
.email-inp{
    padding-left: 50px; 
    padding-top: 20px;
}
.email-input{
    padding-left: 50px;
}
.in-1{
    padding-left: 50px;
    padding-top: 20px;
}
.in-2{
    padding-left: 50px;
    padding-top: 20px;
}
.in-3{
    padding-left: 50px;
    padding-top: 20px;
}
.phone-no{
    padding-top: 20px;
    padding-left: 50px;
    
}
.phone_no{
    width: 230px;
}
.one-line{
    display: flex;
}
.send{
    padding-left: 50px;
    padding-top: 20px;
}
.send-btn{
    height: 50px;
    width: 230px;
    background-color :rgb(207, 22, 167);
    color: white;
    font-weight: bold;
}
.in-4{
    display: flex;
}
.news-back{
    height:500px;
    /* background-color: yellow; */
    
}
.news{
    background-image: url('images/background\ image.jpg');
   
}
.back-backgrund{
    background: rgba(0, 0, 0, 0.8)  ;
    padding:150px;
}
.align-news-line{
    padding-left: 250px;
    padding-top: 60px;
}
.align-news{
    padding-left: 250px;
    
}
.newsletter{
    width: 800px;
    height: 300px;
    padding: 10px;
    border: 5px solid white;
    margin: 0;
   
    
}

.news-title{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.sub{
    text-align: center;
    padding-top: 30px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
.input-email{
    height: 25px;
    width: 45%;
    align-items: center;   
}
.sign-up{
    height: 30px;
    width: 20%;
    /* align-items: center; */
    background-color: rgb(247, 1, 124);
    color: white;
    border: none;
}
.space-div{
    text-align: center;
}
.second{
    width: 500px;
    height: 400px;
    padding: 10px;
    border: none;
    margin: 0;
    
}
.second-logo{
     text-align: right;
    
}
.partner{
    text-align: right;
    color: white;
}
/* .align{
    padding-left: 350px;
    
} */
.icons{
    display: flex;
    padding-left: 350px;
}
.align-line{
    padding-left: 350px;
}
.bottom{
    height: 50px;
    background-color: black;
    flex-wrap: wrap;
}
.sub-s-footer{
    width: 100%;
    margin: auto;
    color: #fff;
    
}
.fo-logo{
    line-height: 15px;
    width: 100px;
    font-size: 14px;
    display: inline;
    
}
.nav-footer{
    width: 100%;
}
.nav-footer ul{
    text-align: center;
    padding-left: 800px;
}
.nav-footer ul li{
    display: inline;
    padding: 5px 2%;

}
.nav-footer ul li a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding-bottom: 10px;
}
.f-nav ul li a:hover{
    color:rgb(207, 22, 167)
}